<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877859665651-2crsv6475eu4k1mjlnbf0lpbqmnvu551.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877859665651-2crsv6475eu4k1mjlnbf0lpbqmnvu551</string>
	<key>API_KEY</key>
	<string>AIzaSyAb-44QHS4O_YFy0T6pzbPimwGJWU9w-xY</string>
	<key>GCM_SENDER_ID</key>
	<string>877859665651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikkivaughan.PetPals</string>
	<key>PROJECT_ID</key>
	<string>petpals-93296</string>
	<key>STORAGE_BUCKET</key>
	<string>petpals-93296.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877859665651:ios:236d26e4d09ec678ed6986</string>
	<key>DATABASE_URL</key>
	<string>https://petpals-93296.firebaseio.com</string>
</dict>
</plist>